/.DS_Store
/.a3.2.py.swp
/.dist
/.venv
/.vscode
/New 
/a3.1.py
/a3.3.py
/app.py
/array = [10,10,10,10].py
/bluish.py
/bluish01.py
/bluish02.py
/bluish_beta.py
/buildozer.spec
/calculator.py
/calculator_fun.py
/coinbank.txt
/coins.txt
/compare.py
/fake_review_detection.py
/for_i.py
/formatting.py
/found_false.py
/greet.py
/hello.py
/hello.ved
/hello01.py
/hello02.py
/hello03.py
/highscore.txt
/login.html
/loop01.py
/num_sum_avg.py
/ppt.py
/ppt2.py
/practice01.py
/practice02.py
/print.py
/python01.py
/python02.py
/python03.py
/python04.py
/python_pop.py
/safari_selenium_test.py
/sample_reviews.csv
/script.py
/smallest_no.py
/smallest_none.py
/snake.py
/snake_game.py
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/totalcoins.txt